* {
    margin: 0;
    padding: 0;
}

body {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu-button {
    width: 10em;
    text-align: center;
    background-color: #cb2845;;
    border: 0;
    border-radius: 0.75rem;
    margin-top: 1.5rem;
    min-height: 1.5rem;
    color: white;
    
}

.menu-button:hover, a:hover{
    opacity: 70%;
}

.invisible {
    visibility: hidden;
    transform: translateY(-0.5em);
    opacity: 0;
}

.link-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: #cb2845;;
    text-decoration: none;
    margin-top: 0.5rem;
    transition: all 0.7s ease-in;
    /* animation-fill-mode: forwards; */
}

#image-slider-background {
    background-color: #cb2845;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#frame {
    border: 1px solid black;
    width: 50vw;
    height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#current-image {
    height: 100%;
    width:100%;
}

#images{
    padding-top: 20vh;
    width: 100vw;
    overflow: hidden;
}

#image-changing-buttons-container {
    
}

.image-changing-button{
    width: 5em;
    text-align: center;
    background-color: white;
    border: 0;
    border-radius: 0.75rem;
    margin-top: 0.5rem;
    min-height: 1.5rem;
    color: #cb2845;
}

#next-image {
    width: 50vw;
    height: 50vh;
    position: relative;
    right: -30vw;
    bottom: 65vh;

}

#previous-image {
    width: 50vw;
    height: 50vh;
    position: relative;
    left: -30vw;
    bottom: 65vh;

}

.hidden {
    visibility: hidden;
}