* {
    margin: 0;
    padding: 0;
}

body {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu-button {
    width: 10em;
    text-align: center;
    background-color: #cb2845;;
    border: 0;
    border-radius: 0.75rem;
    margin-top: 1.5rem;
    min-height: 1.5rem;
    color: white;
    
}

.menu-button:hover, a:hover{
    opacity: 70%;
}

.invisible {
    visibility: hidden;
    transform: translateY(-0.5em);
    opacity: 0;
}

.link-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: #cb2845;;
    text-decoration: none;
    margin-top: 0.5rem;
    transition: all 0.7s ease-in;
    /* animation-fill-mode: forwards; */
}

#image-slider-background {
    background-color: #cb2845;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

#frame {
    border: 1px solid black;
    width: 50vw;
    height: 50vh;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}



#images{
    padding-top: 20vh;
    width: 165vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#image-changing-buttons-container {
    
}

#navigation-dots-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation-dot {
    width: 1vw;
    height: 1vw;
    margin: 1vw;
    border-radius: 50%;
    border: 5px solid white;
    cursor: pointer;
}

.navigation-dot:hover, .image-changing-button:hover {
    opacity: 50%;
}

.current-dot {
    background-color: white;
}

.image-changing-button{
    width: 5em;
    text-align: center;
    background-color: white;
    border: 0;
    border-radius: 0.75rem;
    margin-top: 0.5rem;
    min-height: 1.5rem;
    color: #cb2845;
    cursor: pointer;
}

#current-image {
    width: 50vw;
    height: 50vh;
    transition: all 1.9s ease-in;
    /* height: 100%;
    width:100%; */
}
#next-image {
    width: 50vw;
    height: 50vh;
    /* transform: translate(0, -10vh); */
    transition: all 1.9s ease-in;
    z-index: 999;
    /* position: relative;
    right: -30vw;
    bottom: 65vh;
    transition: all 1.9s ease-in; */ 
}

#previous-image {
    width: 50vw;
    height: 50vh;
    z-index: 999;
    /* transform: translate(0, -10vh); */
    transition: all 1.9s ease-in;
    /* position: relative;
    left: -30vw;
    bottom: 65vh; */

}

img {
    width: 50vw;
    height: 50vh; 
}

.hidden {
    visibility: hidden;
}

#next-image-frame, #previous-image-frame {
    position: relative;
    
}

#next-next-image, #previous-previous-image {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(0, -10vh); */
}



.moved-next-image {
    /* transform: translate(50vw, 10vh); */

  }
.moved-previous-image {


  }
.moved-current-image {

}